a[b-rn4wpn8p7j] {
    position: relative;
    display: block;
    padding: 4px 0;
    font-family: Lato, sans-serif;
    color: #414141b1;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

    a[b-rn4wpn8p7j]::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 3px;
        background: #ff0000;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
    }

    a:hover[b-rn4wpn8p7j] {
        color: #000000;
    }

        a:hover[b-rn4wpn8p7j]::after {
            transform: scaleX(1);
            transform-origin: left;
        }

.contenedor[b-rn4wpn8p7j] {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.contenedor-img[b-rn4wpn8p7j] {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

    .contenedor-img img[b-rn4wpn8p7j] {
        max-width: 80%;
        height: auto;
    }