.gradient-custom-2[b-lnt42mtwlx] {
    /* fallback for old browsers */
    background: #fccb90;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

.btn[b-lnt42mtwlx] {
    color: #fff;
    letter-spacing: 1px;
    text-indent: 10px;
}

@media (min-width: 768px) {
    .gradient-form[b-lnt42mtwlx] {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2[b-lnt42mtwlx] {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.elementor a[b-lnt42mtwlx] {
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
}

a[b-lnt42mtwlx] {
    position: relative;
    display: block;
    padding: 4px 0;
    font-family: Lato, sans-serif;
    color: #414141b1;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

    a[b-lnt42mtwlx]::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 3px;
        background: #ff0000;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
    }

    a:hover[b-lnt42mtwlx] {
        color: #000000;
    }

        a:hover[b-lnt42mtwlx]::after {
            transform: scaleX(1);
            transform-origin: left;
        }

